<<<<<<< HEAD
@import "tailwindcss";

/* :root {
  --background: #05ff48;
  --foreground: #171717;
} */

html {
  background-color: var(--background);
}
=======
>>>>>>> 7bec51a45d582ac13ae1d3cf1968719fbf4ca384
