@import "tailwindcss";

:root {
  --background: #05ff48;
  --foreground: #171717;
}

html {
    background-color: var(--background);
}

#Main-page {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-columns: 1fr;
  nav {
    div {
      padding: 5%;
    }
    grid-area: header;
    display: grid;
    grid-template-areas: 
      "AI-assistant Market-analysis News Learning-Hub";
    grid-template-columns: repeat(4, 1fr);
    div {
      margin: auto;
      &.AI-assistant {
        grid-area: AI-assistant;
      }
      &.Market-analysis {
        grid-area: Market-analysis;
      }

      &.News {
        grid-area: News;
      }

      &.Learning-hub {
        grid-area: Learning-Hub;
      }
    }
  }

  #Main-content {
    padding: 2vw;
    gap: 2vw;
    div {
      box-sizing: border-box;
      padding: 5%;
    }
    display: grid;
    grid-area: content;
    grid-template-areas: 
      "AI Slider"
      "Learning-hub Learning-hub";
    grid-template-columns: 3fr 6fr;
    div {
      border:1px solid rgba(21, 55, 17, 0.512);
      &.AI-assistant {
        align-content: center;
        grid-area: AI;
        text-align: center;
        font-size:xx-large;
        form  {
          textarea {
            border:1px solid rgba(21, 55, 17, 0.512);
            resize: none;
            width: 100% ;
            height: 50px;
            font-size: medium;
            overflow: hidden;
          }

          button{
            &:hover {
              background-color: #3e8e41;
            }
            &:active {
              background-color: #154518;
              transform: translateY(4px);
            }
          }
        } 
      }
      &.Market-analysis {
        grid-area: Slider;
        padding: 0%;
        div {
            &#stocks, &#Popular-products, &#Supply-demand {
            height: 80vh;
          }
        }
      }
      &.Learning-hub {
        grid-area: Learning-hub;
      }
    }
  }
}